version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    container_name: ai-tools-postgres
    restart: always
    environment:
      POSTGRES_DB: ai_tools_db
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - ai-network
volumes:
  pgdata:

networks:
  ai-network:
    driver: bridge