spring:
  application:
    name: spring-ai-tools
  ai:
    mistralai:
      api-key: ${MISTRAL_AI_KEY}
  datasource:
    url: jdbc:postgresql://localhost:5432/ai_tools_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
logging:
  level:
    org.springframework.ai: DEBUG